html
  head
    title= title
  body
    h1= message
    form(action="/mini/api/register", method="post")
      .input
        span.label First Name: 
        input(type="text" name="firstName")
      .input
        span.label Last Name: 
        input(type="text" name="lastName")
      .input
        span.label User Name: 
        input(type="text" name="userName")
      .input
        span.label Password: 
        input(type="text" name="password")
      .input
        span.label Email: 
        input(type="text" name="email")
      .actions
        input(type="submit" value="Register")